<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <h1>New Employee</h1>
    <form action="/new" method="post">
        Name <input type="text" name="txtName">
        <span style="color: red;">{{errorMsg}}</span>
        <br>
        <select name="country">
            <option value="VietNam">VietName</option>
            <option value="China">China</option>
        </select>
        <br>
        <input type="submit" value="Create">
    </form>
</body>
</html>