h1, h2 {
    text-align: center;
}

.button {
    background-color: rgb(0, 225, 255);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin: -40px 10px 0 0;
  border: solid black;
}

.title {
  background-image: url("../images/pink.jpg");
  background-size: 30px;
  background-repeat: no-repeat; 
  height: 20vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product{
  position: absolute;
  margin: 30px 0; 
}

.product ul {
  list-style: none;
}

.product ul li{ 
  display: inline-block;
}

.productContent {
  text-align: center;
}

.buttons {
  margin: auto;
  padding: 10px;
}


.box {
  border-radius: 10px;
  padding: 10px;
  background-image: url("../images/pink.jpg") ;
}
