<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystyle.css">
    <h1>Home page</h1>
</head>
<body>   
    <img src="/images/messi.jpg" width="300" height="400"></img>
    <ul>
        <li><a href="/customer" class="greenText" >Customer home page</a></li>
        <li><a href="/customer/create">Create a new customer</a></li>
    </ul>
</body>
</html>